@page "/edit2"
@inject BookDbContext Context

<PageTitle>書籍の登録</PageTitle>
<h3>書籍の登録</h3>

<EditForm Model="Book" OnSubmit="OnSubmit" FormName="BookForm">
    <div>
        <label for="title">タイトル</label>
        <InputText id="title" @bind-Value="Book.Title" class="form-control" />
    </div>
    <div>
        <label for="author">著者</label>
        <InputText id="author" @bind-Value="Book.Author" class="form-control" />
    </div>
    <div>
        <label for="publisher">出版社</label>
        <InputText id="publisher" @bind-Value="Book.Publisher" class="form-control" />
    </div>
    <div>
        <label for="publishedYear">出版年</label>
        <InputNumber id="publishedYear" @bind-Value="Book.PublishedYear" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">保存</button>
</EditForm>

<p>@message</p>

@code {
    // フォームから送信された情報を保持するプロパティ
    [SupplyParameterFromForm]
    private Book Book { get; set; } = new();

    private string message = string.Empty;

    // フォーム送信時に呼び出される
    private async Task OnSubmit()
    {
        // フォームの内容をBooksテーブルに登録する
        Context.Books.Add(Book);
        var result = await Context.SaveChangesAsync();

        message = (result == 1) ? "登録しました" : "登録に失敗しました";
    }
}
