@page "/books"
@inject BookDbContext Context
@* @inject NavigationManager NavigationManager *@
@attribute [StreamRendering]

<PageTitle>Books</PageTitle>

<h3>Books</h3>

@* 本のデータが取得できるまではローディング中のメッセージを表示 *@
@if (books.Count == 0)
{
    <p><em>Loading ...</em></p>
}
else
{
    @* 取得した本データを表形式で表示 *@
    <table class="table">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>出版社</th>
                <th>出版年</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.PublishedYear</td>
                    <td><a href="edit/@book.Id">編集</a></td>
                    <td><a href="edit/@book.Id">削除</a></td>       
                </tr>
            }
        </tbody>
    </table>
}

<a href="/edit2" class="btn btn-primary">追加</a>

@code {
    private List<Book> books = new();

    // コンポーネント初期化時にBooksテーブルから全データを取得して変数に格納
    protected override async Task OnInitializedAsync()
    {
        books = await Context.Books.ToListAsync();
    }

    // private async Task DeleteGame(int id)
    // {
    //     var book = await Context.Books.FindAsync(id);
    //     if (book is not null)
    //     {
    //         Context.Remove(book);
    //         await Context.SaveChangesAsync();
    //         NavigationManager.NavigateTo("/games");
    //     }
    // }
}
